
{% extends 'base.html' %}

{% block content %}

<div class="col-md-6 offset-md-3">
<h1>Habit Hub </h1>  

<p>Welcome to Habit Hub, a personalized platform designed to empower you on your journey to self-improvement. Here, you'll unlock the secrets to building the life you've always envisioned – brick by brick, habit by habit.</p>

<p>Ready to unleash this transformative potential? It all starts with a single click. Hit the "Add Habit" button and begin tracking something that truly matters to you.  Maybe it's dedicating 30 minutes each day to reading that book collecting dust on your shelf, or finally committing to that gym membership you've been eyeing.  No matter the size or scope, Habit Hub is here to support you every step of the way, ensuring you stay on track and ultimately achieve the goals you set for yourself.</p>
{% endblock %}
</div>